footer {
  background-color: rgba($backgroundTertiary, 0.8);
  border-top: 2px #808080 solid;
}

.footerFlex {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footFlexItem {
  width: calc((100%/3) - 3%);
}

.storeButtons, .externalLinksHolder, .smLinksHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.storeButtons {
  flex-direction: column;
}

.appStore, .playStore {
  margin: 10px 0;
}

.playStore {
  width: 50%;

  img{
    object-fit: contain;
    height: auto;
  }
}

.appStore {
  width: 50%;
  height: auto;
}

.externalLinks {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    width: 100%;
  }

  a {
    position: relative;

    display: inline-block;
    width: 100%;
    padding: 10px;
  }

  a:after {
    position: absolute;
    content: "";
    background-color: #f8f8f8;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
  }

  a:hover:after, a:focus:after, a:active:after{
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.2s ease-in;
  }
}

.smLinks {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(100%/3);
    margin: 15px 0;
  }

  a {
    font-size: 4rem;
  }

  #{$aHoverFocus} {
    color: $accentSecondary;
  }
}

.storeButtons, .copyright {
  color: $navText;
}

.copyright {
  background-color: #000;
  border-top: 2px #222 solid;
  text-align: center;

  padding: 10px 0;
}