html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(rgba($backgroundPrimary, 0.5), rgba($backgroundPrimary, 0.5)), url("../assets/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: $raleway;
  @include fontSize(16);
  color: $primaryText;
}

body:not(.isTabbing) .colorBook:focus,
body:not(.isTabbing) .pixel:focus {
  outline: none;
}

h1, h2, h3, ul, ol, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

a {
  color: $navText;
  text-decoration: none;

  font-size: 2rem;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

img {
  max-width: 100%;
  height: 100%;
  // object-fit: cover;
}

.container {
  width: 80%;
  max-width: 1280px;

  margin: 0 auto;
}