main {

  .appSection {
    .container {
      position: relative;
      padding-top: 42.75%;
      min-width: 630px;
      min-height: 320px;
    }
  }

  .colorBook {
    background: $backgroundPrimary;

    @include fontSize(12);

    display: flex;
    flex-direction: column;

    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.canvasHolder, .page {
  border: 2px $borderDark solid;
}

.canvasHolder {
  background-color: $backgroundSecondary;

  border-top: none;

  padding: 10px;

  display: flex;
  height: 90%;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.pixel {
  border: 1px black solid;
  width: calc(100%/37);
  height: calc(100%/22);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    cursor: default;
    font-family: $lato;
  }
}

.pixel.notFilled {
  background: $backgroundPixel;
}

.palette {
  width: 20%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

}

.colorLabel {
  border: 2px black solid;
  height: 7%;
}

.colorLabel:first-of-type {
  color: #FFF;
}

.A {
  background: #372727;
}

.B {
  background: #FFF;
}

.C {
  background: #FFD371;
}

.D {
  background: #71FFAA;
}

.E {
  background: #7181FF;
}

.F {
  background: #F56958;
}

.G {
  background: #FBD7C3;
}

.hidden {
  visibility: hidden;
}

.pages {
  height: 10%;
  
  display: flex;
}

.page {
  background: $backgroundSecondary;

  padding: 10px;
  height: 100%;

  border-radius: 4px 4px 0 0;
  border-right: none;
}


li:last-child .page{
  border-right: 2px $borderDark solid;
}

label {
  @include centerFlex();

  font-family: $lato;
  @include fontSize(16);
  text-transform: uppercase;
}

input[name='palette'], input[name='page'] {
  display: none;
}

input[name='page']:checked + .page {
  font-weight: 700;

  border-bottom: none;
}

input[name='palette']:checked + .colorLabel {
  border: 3px $accentPrimary solid;
}

.instructionText {
  background: $backgroundPrimary;

  padding: 10px;
  margin: 50px 0;

  border: 2px $borderDark ridge;

  h2 {
    background: $backgroundSecondary;

    @include fontSize(40);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2rem;

    border: 2px $borderLight ridge;

    padding: 10px;
  }

  h3 {
    @include fontSize(24);
    margin: 20px 0;
  }

  ul, strong{
    // margin-top: 25px;
    color: $navText;
  }

  li {
    margin: 20px 0;
  }
}