@media only screen and (orientation:portrait){
  body {
    overflow-x: hidden;
    
    main {
      .appSection {
        transform: rotateZ(90deg);
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100vw;
        height: 100vh;
      }

      .container {
        width: 100%;
      }
    }
  }
}

@media only screen and (orientation:landscape) and (max-width: 768px){
  body {
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  header {
    text-align: center;
  }

  .innerHeader {
    @include centerFlex();
  }

  nav {
    ul {
      display: none;
    }
  }

  .footerFlex {
    flex-wrap: wrap;
  }

  .footFlexItem, .buttonFlex, .smLinks{
    width: 100%;
  }

  .buttonFlex {
    flex-direction: row;
    justify-content: space-around;

    div {
      padding: 20px;
    }
  }

  .smLinks {
    text-align: center;
  }
}

@media (max-width: 768px){
  .container {
    width: 100%;
  }

  .instructHeader {
    h2 {
      @include fontSize(30);
      letter-spacing: normal;
    }
  }

  .pixel {
    p {
      @include fontSize(10);
    }
  }
}

@media (max-width: 480px){
  .disclaimerText, .dev:first-child, .dev:last-child, .dev {
    left: 0;
    opacity: 1;
  }
}