.modal, .developers, .disclaimer{
  @include centerFlex();
  flex-wrap: wrap;
}

.modal {
  position: fixed;
  z-index: 20;
  background-image: linear-gradient(rgba($backgroundPrimary, 0.8), rgba($backgroundPrimary, 0.8)), url("../assets/modalBG.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.azurLaneLogo {
  width: 100%;
  text-align: center;
}

// .azurLaneLogo, .developers, .disclaimer {
//   height: calc(100%/3);
// }

.akagi {
  width: 15%;
  min-width: 100px;
  img {
    height: auto;
  }
}

.disclaimerText {
  position: relative;
  background-color: $backgroundSecondary;
  color: $primaryText;
  padding: 20px;
  border: 2px $backgroundPrimary solid;
  border-radius: 10px;
  width: 50%;
}
/* //////////////////// */
/* Speech Bubble Magic */
/* //////////////////// */

/* :before pseudo element for a small pointy shape behind the after.
 This is for the border around the point. */
.disclaimerText:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  /* use border properties to determine the size of the shape and where the shape is to be placed */
  border-left: 10px solid $backgroundPrimary;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  /* position of the backround pointy shape */
  top: 50%;
  right: -19px;
}

/* :after pseudo element for the shape that sits on top of the first one. */
.disclaimerText:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  border-left: 10px solid $backgroundSecondary;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  top: 50%;
  right: -17px;
}