html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(145, 36, 31, 0.5)), to(rgba(145, 36, 31, 0.5))), url("../assets/background.png");
  background: linear-gradient(rgba(145, 36, 31, 0.5), rgba(145, 36, 31, 0.5)), url("../assets/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #222;
}

h1, h2, h3, ul, ol, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

a {
  color: #F8F8F8;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.modal, .developers, .disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal {
  position: fixed;
  z-index: 20;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(145, 36, 31, 0.8)), to(rgba(145, 36, 31, 0.8))), url("../assets/modalBG.png");
  background-image: linear-gradient(rgba(145, 36, 31, 0.8), rgba(145, 36, 31, 0.8)), url("../assets/modalBG.png");
  background-position: center;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.azurLaneLogo {
  width: 100%;
  text-align: center;
}

.akagi {
  width: 15%;
  min-width: 100px;
}

.akagi img {
  height: auto;
}

.disclaimerText {
  position: relative;
  background-color: #EDEB87;
  color: #222;
  padding: 20px;
  border: 2px #91241F solid;
  border-radius: 10px;
  width: 50%;
}

/* //////////////////// */
/* Speech Bubble Magic */
/* //////////////////// */
/* :before pseudo element for a small pointy shape behind the after.
 This is for the border around the point. */
.disclaimerText:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  /* use border properties to determine the size of the shape and where the shape is to be placed */
  border-left: 10px solid #91241F;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* position of the backround pointy shape */
  top: 50%;
  right: -19px;
}

/* :after pseudo element for the shape that sits on top of the first one. */
.disclaimerText:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid #EDEB87;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  right: -17px;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #91241F), to(transparent));
  background: linear-gradient(top, #91241F 70%, transparent);
  padding: 10px 0 5%;
}

.innerHeader {
  background: rgba(237, 235, 135, 0.7);
  border: 5px #FF1F19 ridge;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin: 0 5px;
}

nav a {
  text-transform: uppercase;
  padding: 10px 5px;
  display: inline-block;
}

nav a:hover, nav a:focus {
  background: #FF1F19;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  position: absolute;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown ul li {
  background: #FF1F19;
  margin: 0;
}

.dropdown ul a {
  padding: 0 5px;
}

.dropdown ul a:hover, .dropdown ul a:focus {
  background: #FCA353;
}

.dropdown:hover ul, .dropdown:focus-within {
  visibility: visible;
  background: #FF1F19;
}

main .appSection .container {
  position: relative;
  padding-top: 42.75%;
  min-width: 630px;
  min-height: 320px;
}

main .colorBook {
  background: #91241F;
  font-size: 12px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.canvasHolder, .page {
  border: 2px #808080 solid;
}

.canvasHolder {
  background-color: #EDEB87;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.pixel {
  border: 1px black solid;
  width: calc(100%/37);
  height: calc(100%/22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pixel p {
  cursor: default;
  font-family: "Lato", sans-serif;
}

.pixel.notFilled {
  background: #B6ADA6;
}

.palette {
  width: 20%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.colorLabel {
  border: 2px black solid;
  height: 7%;
}

.colorLabel:first-of-type {
  color: #FFF;
}

.A {
  background: #372727;
}

.B {
  background: #FFF;
}

.C {
  background: #FFD371;
}

.D {
  background: #71FFAA;
}

.E {
  background: #7181FF;
}

.F {
  background: #F56958;
}

.G {
  background: #FBD7C3;
}

.hidden {
  visibility: hidden;
}

.pages {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page {
  background: #EDEB87;
  padding: 10px;
  height: 100%;
  border-radius: 4px 4px 0 0;
  border-left: none;
  border-bottom: none;
  position: relative;
}

.page.locked {
  background: #444;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

li:first-child .page {
  border-left: 2px #808080 solid;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

input[name='palette'], input[name='page'] {
  display: none;
}

input[name='page']:checked + .page {
  font-weight: 700;
  border-bottom: none;
}

input[name='page']:checked + .page:after {
  position: absolute;
  content: "";
  background: #EDEB87;
  width: 100%;
  height: 2px;
  bottom: -2px;
}

input[name='palette']:checked + .colorLabel {
  border: 3px #FF1F19 solid;
}

.instructionText {
  background: #91241F;
  padding: 10px;
  margin: 50px 0;
  border: 2px #808080 ridge;
}

.instructionText h2 {
  background: #EDEB87;
  font-size: 40px;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2rem;
  border: 2px #D3D3D3 ridge;
  padding: 10px;
}

.instructionText h3 {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 20px 0;
}

.instructionText ul, .instructionText strong {
  color: #F8F8F8;
}

.instructionText li {
  margin: 20px 0;
}

footer {
  background-color: rgba(68, 68, 68, 0.8);
  border-top: 2px #808080 solid;
}

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.footFlexItem {
  width: calc((100%/3) - 3%);
}

.storeButtons, .buttonFlex, .externalLinksHolder, .smLinksHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeButtons, .buttonFlex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appStore, .playStore {
  margin: 10px 0;
}

.playStore {
  width: 50%;
}

.playStore img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.appStore {
  width: 50%;
  height: auto;
}

.externalLinks {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.externalLinks li {
  width: 100%;
}

.externalLinks a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.externalLinks a:after {
  position: absolute;
  content: "";
  background-color: #f8f8f8;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.externalLinks a:hover:after, .externalLinks a:focus:after, .externalLinks a:active:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.smLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.smLinks li {
  width: calc(100%/3);
  margin: 15px 0;
}

.smLinks a {
  font-size: 4rem;
}

.smLinks a:hover, .smLinks a:focus {
  color: #FCA353;
}

.storeButtons, .copyright {
  color: #F8F8F8;
}

.copyright {
  background-color: #000;
  border-top: 2px #222 solid;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (orientation: portrait) {
  body {
    overflow-x: hidden;
  }
  body main .appSection {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  body main .container {
    width: 100%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
  body .container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  header {
    text-align: center;
  }
  .innerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: none;
  }
  .footerFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footFlexItem, .buttonFlex, .smLinks {
    width: 100%;
  }
  .buttonFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .buttonFlex div {
    padding: 20px;
  }
  .smLinks {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .instructHeader h2 {
    font-size: 30px;
    font-size: 3rem;
    letter-spacing: normal;
  }
  .pixel p {
    font-size: 10px;
    font-size: 1rem;
  }
}
